<html>
    <head>
        <title>An author</title>
    </head>
    <body>
        {{ author.name }}
        {% for book in author.books.all %}
            {% if book.review %}
                <div class="book">
                    <h3>
                        {{ book.title }}
                        {% if book.is_favourite %}<p class="highlight">favourite</p>{% endif %}
                        <p>{{ book.review|linebreaks }}</p>
                    </h3>
                </div>
            {% endif %}
        {% endfor %}
    </body>
</html>